.contacts {
  @include reset();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  list-style: none;
}

//.contacts__item {
//  margin-right: 65px;
//}

.contacts__link {
  font-family: $mono-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $dark-grey;
  opacity: 0.5;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: $tablet-width) {
}

@media (max-width: $mobile-width) {
  .contacts {
    width: 100%;
  }
}
