.contacts {
  @include reset-list();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.contacts__list {
  @include reset-list();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
}

.contacts__link {
  font-family: $mono-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $dark-grey;
  opacity: 0.5;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.contacts__item {
  @include reset();
}

@media (max-width: $mobile-width) {
  .contacts {
    width: 100%;
  }

  .contacts__list .contacts__item:last-of-type {
    margin-bottom: 26px;
  }
}
