.copyright {
  border-top: 1px solid rgba($grey, 0.2);
}

.copyright__container {
  display: flex;
  justify-content: space-between;
  padding: 0 18px 0 15px;
}

.copyright__text,
.copyright__link {
  @include reset();
  font-family: $mono-font;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;
  color: $grey;
  margin: 15px 0;
}

.copyright__link {
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  width: 32.3%;
  min-width: 400px;

  &--right {
    width: 57.7%;
  }
}

@media (max-width: $tablet-width) {
  .copyright__container {
    padding: 0 13px;
  }

  .copyright__wrapper--right {
    width: 100%;
    min-width: auto;
  }

  .copyright__text,
  .copyright__link {
    margin: 20px 0;
  }
}

@media (max-width: $mobile-width) {
  .copyright {
    border: none;
    padding-top: 13px;
  }

  .copyright__wrapper--right {
    flex-direction: column;
    align-items: center;
  }

  .copyright__link {
    margin: 12px 0;

    &:first-of-type {
      margin: 12px 0;
    }
  }
}
