.copyright {
  border-top: 1px solid rgba($grey, 0.2);
}

.copyright__container {
  display: flex;
  justify-content: flex-start;
  padding: 0 5px;
}

.copyright__text,
.copyright__link {
  font-family: $mono-font;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;
  color: $grey;
  margin: 15px 0;
}

.copyright__text {
  &:first-of-type {
    margin-right: 73px;
  }

  &:nth-of-type(2) {
    margin-right: 142px;
  }
}

.copyright__link {
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &:first-of-type {
    margin-right: auto;
  }
}

@media (max-width: $tablet-width) {
  .copyright__container {
    padding: 0 13px;
  }

  .copyright__text,
  .copyright__link {
    margin: 20px 0;
  }
}

@media (max-width: $mobile-width) {
  .copyright {
    border: none;
    padding-top: 13px;
  }

  .copyright__container {
    flex-direction: column;
    align-items: center;
  }

  .copyright__link {
    margin: 12px 0;

    &:first-of-type {
      margin: 12px 0;
    }
  }
}
