.page-slogan {
  position: relative;
  margin-top: 226px;
  min-height: 515px;
  padding: 0 15px;
}

.page-slogan__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.page-slogan__title {
  @include reset();
  font-family: $roboto-font;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 27px;
  max-width: 770px;
}

.page-slogan__text-wrapper {
  display: flex;
  max-width: 770px;
  flex-wrap: nowrap;
  margin-bottom: 44px;
}

.page-slogan__text {
  @include reset();
  padding-left: 98px;
  font-family: $mono-font;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $white;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 65px;
    height: 2px;
    left: 4px;
    top: 17px;
    background-color: $white;
  }
}

.page-slogan__link {
  font-family: $roboto-font;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  padding: 17px 45px;
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 5px;
  margin-left: 98px;

  @include hover-blue();

  &:focus {
    outline: 2px dotted $grey4;
  }
}

.page-slogan__scroll {
  position: absolute;
  left: 22px;
  bottom: 79px;
  display: inline-block;
  transform: rotate(-90deg) translateY(-44px);
  font-family: $mono-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.page-slogan__photo {
  position: absolute;
  top: -57px;
  right: -58px;
  max-width: 705px;
  width: 100%;
  height: auto;
  z-index: 0;
  background-image: url("../img/top-triangle.svg");
  background-repeat: no-repeat;
  background-size: 670px;
  background-position: left -9px top -139px;
}

@media (max-width: $tablet-width) {
  .page-slogan {
    margin-top: 109px;
    min-height: 450px;
  }

  .page-slogan__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 29px;
  }

  .page-slogan__text {
    font-size: 18px;
    line-height: 156.8%;
    padding-left: 51px;

    &::after {
      width: 32px;
    }
  }

  .page-slogan__photo {
    right: -18px;
    left: auto;
    top: -105px;
    transform: none;
    width: 316px;
    height: 385px;
    background-size: 528px;
    background-position: left -14px top -121px;

    img {
      position: relative;
      top: 29px;
      right: -55px;
    }
  }

  .page-slogan__wrapper {
    margin-left: 58px;
    max-width: 430px;
  }

  .page-slogan__link {
    margin-left: 51px;
    padding: 17px 30px;
  }

  .page-slogan__text-wrapper {
    margin-bottom: 55px;
  }
}

@media (max-width: $mobile-width) {
  .page-slogan {
    margin-top: 223px;
    padding: 0 5px;
    min-height: 313px;
  }

  .page-slogan__title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 26px;
  }

  .page-slogan__text {
    font-size: 16px;
    padding-left: 51px;

    &::after {
      width: 32px;
    }
  }

  .page-slogan__photo {
    right: -26px;
    top: -217px;
    width: 310px;
    height: 400px;
    background-size: 500px;
    background-position: left 126px top -113px;

    img {
      top: 24px;
      right: 1px;
    }
  }

  .page-slogan__text-wrapper {
    width: 100%;
    margin-bottom: 41px;
  }

  .page-slogan__link {
    margin: 0 auto;
  }

  .page-slogan__wrapper {
    margin-left: 0;
  }
}
