.remodal {
  background-color: $blue;
  width: 490px;
  padding: 33px 40px 35px;
}

.remodal .callback-form {
  padding-left: 0;
}

.remodal .callback-form__block {
  width: 100%;
}

.remodal .remodal-close {
  left: auto;
  right: 0;
  @include hover();
}

.remodal .remodal-close::before {
  font-size: 40px;
  color: $white;
}

.remodal .callback-form__check-label {
  padding-right: 30px;
  text-align: left;
}
