.site-menu {
  @include reset-list();

  display: block;
  list-style: none;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  column-count: 2;
  column-gap: 72px;
  break-inside: avoid;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.site-menu__sublist {
  @include reset-list();
}

.site-menu__link {
  font-family: $mono-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $dark-grey;
  opacity: 0.5;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 1440px) {
  .site-menu {
    column-gap: 40px;
    padding-right: 20px;
  }
}

@media (max-width: $tablet-width) {
  .site-menu {
    flex-direction: column;
    padding-right: 0;
    column-count: auto;
  }
}

@media (max-width: $mobile-width) {
  .site-menu {
    margin-bottom: 0;
  }

  .site-menu__subitem:last-of-type {
    margin-bottom: 26px;
  }
}
