.site-menu{
  @include reset();
}

.site-menu__list {
  display: flex;
  list-style: none;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.site-menu__item:first-of-type {
  margin-right: 72px;
}

.site-menu__item:last-of-type {
  margin-right: 32px;
}

.site-menu__link {
  font-family: $mono-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $dark-grey;
  opacity: 0.5;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: $tablet-width) {
  .site-menu__list {
    flex-direction: column;
  }
}

@media (max-width: $mobile-width) {
  .site-menu__list {
    margin-bottom: 26px;
  }

  .site-menu__item {
    margin-right: 0;
    width: 100%;
  }
  .site-menu__item:first-of-type {
    margin-right: 0;
  }
}
