.social-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 47px;
  margin-left: 3px;
}

.social-list__item {
  margin-right: 15px;

  svg {
    transition: fill 0.3s ease-in-out;
    fill: $grey9;
  }

  &:hover {
    svg {
      fill: $dark-grey;
    }
  }
}

@media (max-width: $tablet-width) {
  .social-list {
    margin-top: 0;
  }

  .social-list__item {
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (max-width: $mobile-width) {
  .social-list {
    margin-top: 32px;
    margin-left: 0;
  }

  .social-list__item {
    margin: 0 8px;
  }
}
