.top-section {
  background-image: url('../img/top-back.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $dark-grey;
  position: relative;
  padding: 32px 0 48px;
  overflow-x: hidden;
}

@media (max-width: $tablet-width) {
  .top-section {
    padding: 21px 0 48px;
  }
}

@media (max-width: $mobile-width) {
  .top-section {
    padding: 14px 0 48px;
  }
}
