.write-us {
  background-image: url('../img/paper_airplane.png'), url('../img/callback-back.svg');
  background-color: $blue;
  padding: 91px 15px 72px;
  background-repeat: no-repeat, no-repeat;
  background-position: left 25.7% top 42.2%, center;
  background-size: 511px, cover;
}

@media (max-width: 1500px) {
  .write-us {
    background-position: left 100px top 42.2%, center;
  }
}

@media (max-width: 1200px) {
  .write-us {
    background-position: left 15px top 42.2%, center;
  }
}

@media (max-width: $tablet-width) {
  .write-us {
    background-image: none !important;
    padding: 78px 88px 63px;
  }
}

@media (max-width: $mobile-width) {
  .write-us {
    background-image: none !important;
    padding: 29px 15px 11px;
  }
}
