.write-us {
  background-color: $blue;
  padding: 91px 15px 71px;
  background-repeat: no-repeat, no-repeat;
  background-position: left 27.3% top 42.7%, center;
  background-size: 511px, cover;
}

@media (max-width: $tablet-width) {
  .write-us {
    background-image: none !important;
    padding: 78px 88px 63px;
  }
}

@media (max-width: $mobile-width) {
  .write-us {
    background-image: none !important;
    padding: 29px 15px 11px;
  }
}
