@mixin hover {
  transition: opacity .3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

@mixin hover-blue {
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;

  &:hover {
    background-color: $white;
    color: $blue;
    border: 1px solid $white;
  }
}

@mixin hover-white{
  transition: background-color .3s ease-in-out, color .3s ease-in-out;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
}
