$mono-font: "PT Mono", "Courier New", monospace;
$roboto-font: "Roboto Condensed", "Arial", sans-serif;

$mobile-width: 767px;
$tablet-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$light-grey: #e5e5e5;
$white: #ffffff;
$blue: #00b2ff;
$grey: #666666;
$dark-grey: #1b2d37;
$grey4: #c4c4c4;
$grey9: #999999;
